<a href="https://colab.research.google.com/github/mayankp158/Michigan-University-ML-/blob/main/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
%precision 2
with open('mpg.csv') as new:
  mpg = list(csv.DictReader(new))

mpg[:3]

[OrderedDict([('mpg', '18'),
              ('cylinders', '8'),
              ('displacement', '307'),
              ('horsepower', '130'),
              ('weight', '3504'),
              ('acceleration', '12'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'chevrolet chevelle malibu')]),
 OrderedDict([('mpg', '15'),
              ('cylinders', '8'),
              ('displacement', '350'),
              ('horsepower', '165'),
              ('weight', '3693'),
              ('acceleration', '11.5'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'buick skylark 320')]),
 OrderedDict([('mpg', '18'),
              ('cylinders', '8'),
              ('displacement', '318'),
              ('horsepower', '150'),
              ('weight', '3436'),
              ('acceleration', '11'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'plymouth satellite')])]

In [ ]:
len(mpg)

398

In [ ]:
mpg[0].keys()

odict_keys(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name'])

In [ ]:
sum(float(i['weight']) for i in mpg)/len(mpg)

2970.42

In [ ]:
cyl = set(j['cylinders'] for j in mpg)
cyl

{'3', '4', '5', '6', '8'}

In [ ]:
ctympgbycl = []
for i in cyl:
  sum1 = 0
  count1 = 0
  for j in mpg:
    if j['cylinders'] == i:
      sum1 += float(j['cylinders'])
      count1 += 1
  ctympgbycl.append((i,sum1/count1))

ctympgbycl.sort(key=lambda x: x[0])
ctympgbycl

[('3', 3.00), ('4', 4.00), ('5', 5.00), ('6', 6.00), ('8', 8.00)]

In [ ]:
vc = set(j['name'] for j in mpg)
vc

{'amc ambassador brougham',
 'amc ambassador dpl',
 'amc ambassador sst',
 'amc concord',
 'amc concord d/l',
 'amc concord dl',
 'amc concord dl 6',
 'amc gremlin',
 'amc hornet',
 'amc hornet sportabout (sw)',
 'amc matador',
 'amc matador (sw)',
 'amc pacer',
 'amc pacer d/l',
 'amc rebel sst',
 'amc spirit dl',
 'audi 100 ls',
 'audi 100ls',
 'audi 4000',
 'audi 5000',
 'audi 5000s (diesel)',
 'audi fox',
 'bmw 2002',
 'bmw 320i',
 'buick century',
 'buick century 350',
 'buick century limited',
 'buick century luxus (sw)',
 'buick century special',
 'buick electra 225 custom',
 'buick estate wagon (sw)',
 'buick lesabre custom',
 'buick opel isuzu deluxe',
 'buick regal sport coupe (turbo)',
 'buick skyhawk',
 'buick skylark',
 'buick skylark 320',
 'buick skylark limited',
 'cadillac eldorado',
 'cadillac seville',
 'capri ii',
 'chevroelt chevelle malibu',
 'chevrolet bel air',
 'chevrolet camaro',
 'chevrolet caprice classic',
 'chevrolet cavalier',
 'chevrolet cavalier 2-door',
 'chevrolet cavalier wagon',
 'chevrolet chevelle concours (sw)',
 'chevrolet chevelle malibu',
 'chevrolet chevelle malibu classic',
 'chevrolet chevette',
 'chevrolet citation',
 'chevrolet concours',
 'chevrolet impala',
 'chevrolet malibu',
 'chevrolet malibu classic (sw)',
 'chevrolet monte carlo',
 'chevrolet monte carlo landau',
 'chevrolet monte carlo s',
 'chevrolet monza 2+2',
 'chevrolet nova',
 'chevrolet nova custom',
 'chevrolet vega',
 'chevrolet vega (sw)',
 'chevrolet vega 2300',
 'chevrolet woody',
 'chevy c10',
 'chevy c20',
 'chevy s-10',
 'chrysler cordoba',
 'chrysler lebaron medallion',
 'chrysler lebaron salon',
 'chrysler lebaron town @ country (sw)',
 'chrysler new yorker brougham',
 'chrysler newport royal',
 'datsun 1200',
 'datsun 200-sx',
 'datsun 200sx',
 'datsun 210',
 'datsun 210 mpg',
 'datsun 280-zx',
 'datsun 310',
 'datsun 310 gx',
 'datsun 510',
 'datsun 510 (sw)',
 'datsun 510 hatchback',
 'datsun 610',
 'datsun 710',
 'datsun 810',
 'datsun 810 maxima',
 'datsun b-210',
 'datsun b210',
 'datsun b210 gx',
 'datsun f-10 hatchback',
 'datsun pl510',
 'dodge aries se',
 'dodge aries wagon (sw)',
 'dodge aspen',
 'dodge aspen 6',
 'dodge aspen se',
 'dodge challenger se',
 'dodge charger 2.2',
 'dodge colt',
 'dodge colt (sw)',
 'dodge colt hardtop',
 'dodge colt hatchback custom',
 'dodge colt m/m',
 'dodge coronet brougham',
 'dodge coronet custom',
 'dodge coronet custom (sw)',
 'dodge d100',
 'dodge d200',
 'dodge dart custom',
 'dodge diplomat',
 'dodge magnum xe',
 'dodge monaco (sw)',
 'dodge monaco brougham',
 'dodge omni',
 'dodge rampage',
 'dodge st. regis',
 'fiat 124 sport coupe',
 'fiat 124 tc',
 'fiat 124b',
 'fiat 128',
 'fiat 131',
 'fiat strada custom',
 'fiat x1.9',
 'ford country',
 'ford country squire (sw)',
 'ford escort 2h',
 'ford escort 4w',
 'ford f108',
 'ford f250',
 'ford fairmont',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'ford fairmont 4',
 'ford fairmont futura',
 'ford fiesta',
 'ford futura',
 'ford galaxie 500',
 'ford gran torino',
 'ford gran torino (sw)',
 'ford granada',
 'ford granada ghia',
 'ford granada gl',
 'ford granada l',
 'ford ltd',
 'ford ltd landau',
 'ford maverick',
 'ford mustang',
 'ford mustang cobra',
 'ford mustang gl',
 'ford mustang ii',
 'ford mustang ii 2+2',
 'ford pinto',
 'ford pinto (sw)',
 'ford pinto runabout',
 'ford ranger',
 'ford thunderbird',
 'ford torino',
 'ford torino 500',
 'hi 1200d',
 'honda accord',
 'honda accord cvcc',
 'honda accord lx',
 'honda civic',
 'honda civic (auto)',
 'honda civic 1300',
 'honda civic 1500 gl',
 'honda civic cvcc',
 'honda prelude',
 'maxda glc deluxe',
 'maxda rx3',
 'mazda 626',
 'mazda glc',
 'mazda glc 4',
 'mazda glc custom',
 'mazda glc custom l',
 'mazda glc deluxe',
 'mazda rx-4',
 'mazda rx-7 gs',
 'mazda rx2 coupe',
 'mercedes benz 300d',
 'mercedes-benz 240d',
 'mercedes-benz 280s',
 'mercury capri 2000',
 'mercury capri v6',
 'mercury cougar brougham',
 'mercury grand marquis',
 'mercury lynx l',
 'mercury marquis',
 'mercury marquis brougham',
 'mercury monarch',
 'mercury monarch ghia',
 'mercury zephyr',
 'mercury zephyr 6',
 'nissan stanza xe',
 'oldsmobile cutlass ciera (diesel)',
 'oldsmobile cutlass ls',
 'oldsmobile cutlass salon brougham',
 'oldsmobile cutlass supreme',
 'oldsmobile delta 88 royale',
 'oldsmobile omega',
 'oldsmobile omega brougham',
 'oldsmobile starfire sx',
 'oldsmobile vista cruiser',
 'opel 1900',
 'opel manta',
 'peugeot 304',
 'peugeot 504',
 'peugeot 504 (sw)',
 'peugeot 505s turbo diesel',
 'peugeot 604sl',
 "plymouth 'cuda 340",
 'plymouth arrow gs',
 'plymouth champ',
 'plymouth cricket',
 'plymouth custom suburb',
 'plymouth duster',
 'plymouth fury',
 'plymouth fury gran sedan',
 'plymouth fury iii',
 'plymouth grand fury',
 'plymouth horizon',
 'plymouth horizon 4',
 'plymouth horizon miser',
 'plymouth horizon tc3',
 'plymouth reliant',
 'plymouth sapporo',
 'plymouth satellite',
 'plymouth satellite custom',
 'plymouth satellite custom (sw)',
 'plymouth satellite sebring',
 'plymouth valiant',
 'plymouth valiant custom',
 'plymouth volare',
 'plymouth volare custom',
 'plymouth volare premier v8',
 'pontiac astro',
 'pontiac catalina',
 'pontiac catalina brougham',
 'pontiac firebird',
 'pontiac grand prix',
 'pontiac grand prix lj',
 'pontiac j2000 se hatchback',
 'pontiac lemans v6',
 'pontiac phoenix',
 'pontiac phoenix lj',
 'pontiac safari (sw)',
 'pontiac sunbird coupe',
 'pontiac ventura sj',
 'renault 12 (sw)',
 'renault 12tl',
 'renault 18i',
 'renault 5 gtl',
 'renault lecar deluxe',
 'saab 99e',
 'saab 99gle',
 'saab 99le',
 'subaru',
 'subaru dl',
 'toyota carina',
 'toyota celica gt',
 'toyota celica gt liftback',
 'toyota corolla',
 'toyota corolla 1200',
 'toyota corolla 1600 (sw)',
 'toyota corolla liftback',
 'toyota corolla tercel',
 'toyota corona',
 'toyota corona hardtop',
 'toyota corona liftback',
 'toyota corona mark ii',
 'toyota cressida',
 'toyota mark ii',
 'toyota starlet',
 'toyota tercel',
 'toyouta corona mark ii (sw)',
 'triumph tr7 coupe',
 'vokswagen rabbit',
 'volkswagen 1131 deluxe sedan',
 'volkswagen 411 (sw)',
 'volkswagen dasher',
 'volkswagen jetta',
 'volkswagen model 111',
 'volkswagen rabbit',
 'volkswagen rabbit custom',
 'volkswagen rabbit custom diesel',
 'volkswagen rabbit l',
 'volkswagen scirocco',
 'volkswagen super beetle',
 'volkswagen type 3',
 'volvo 144ea',
 'volvo 145e (sw)',
 'volvo 244dl',
 'volvo 245',
 'volvo 264gl',
 'volvo diesel',
 'vw dasher (diesel)',
 'vw pickup',
 'vw rabbit',
 'vw rabbit c (diesel)',
 'vw rabbit custom'}

In [ ]:
import datetime as dt
import time as t

In [ ]:
print(t.time())

1606753267.2124684

In [ ]:
dtnow = dt.datetime.fromtimestamp(t.time())
dtnow

datetime.datetime(2020, 11, 30, 16, 22, 38, 545832)

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour,dtnow.minute,dtnow.second

(2020, 11, 30, 16, 22, 38)

In [ ]:
delta = dt.timedelta(days=100)
delta

datetime.timedelta(100)

In [ ]:
today = dt.date.today()

In [ ]:
today-delta

datetime.date(2020, 8, 22)

In [ ]:
today>today-delta

True

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person: person.split()[0] + ' ' + person.split()[-1])(person))

#option 2
#list(map(split_title_and_name, people)) == list(map(???))

True
True
True
True

In [ ]:
import numpy as np

a = [1,2,3]
b = np.array(a)
print(b)
print(b.ndim)

[1 2 3]
1

In [ ]:
c = np.arange(0,30,2)
c

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [ ]:
d = np.array([[1,2,3],[4,5,6]])
d.shape

(2, 3)

In [ ]:
c.reshape(3,5)

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [ ]:
e = np.linspace(0,4,9)
e

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [ ]:
e.resize(3,3)
e

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [ ]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
np.diag(a)

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [ ]:
np.array([1,2,3]*3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [ ]:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [ ]:
p = np.ones((2,3),int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [ ]:
np.vstack((p,2*p))

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [ ]:
np.hstack((p,2*p))

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

In [ ]:
h = np.array([4,5,6])
i = np.array([1,2,3])
h+i

array([5, 7, 9])

In [ ]:
h*i

array([ 4, 10, 18])

In [ ]:
h**2

array([16, 25, 36])

In [ ]:
h.dot(i)

32

In [ ]:
z = np.array([h,h*2])
z

array([[ 4,  5,  6],
       [ 8, 10, 12]])

In [ ]:
z.shape

(2, 3)

In [ ]:
z.T

array([[ 4,  8],
       [ 5, 10],
       [ 6, 12]])

In [ ]:
z.T.shape

(3, 2)

In [ ]:
z.dtype

dtype('int64')

In [ ]:
z = z.astype('f')
z.dtype

dtype('float32')

In [ ]:
z.max()

12.0

In [ ]:
z.min()

4.0

In [ ]:
z.sum()

45.0

In [ ]:
z.mean()

7.5

In [ ]:
z.std()

2.813657

In [ ]:
z.argmax()

5

In [ ]:
z.argmin()

0

In [ ]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [ ]:
s[-4:]

array([ 81, 100, 121, 144])

In [ ]:
s[-5::-1]

array([64, 49, 36, 25, 16,  9,  4,  1,  0])

In [ ]:
r = np.arange(36)
r.resize(6,6)
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [ ]:
r[2,2]

14

In [ ]:
r[-1,::2]

array([30, 32, 34])

In [ ]:
r[r>30]

array([31, 32, 33, 34, 35])

In [ ]:
r[r>30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [ ]:
r2=r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [ ]:
r2[:] = 0
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [ ]:
r_copy = r.copy()
r_copy[:] = 10

print(r_copy)
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]
[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

In [ ]:
ran = np.random.randint(0,10,(5,3))
ran

array([[4, 9, 6],
       [8, 5, 4],
       [8, 9, 3],
       [3, 0, 7],
       [5, 8, 9]])

In [ ]:
for row in ran:
  print(row)

[4 9 6]
[8 5 4]
[8 9 3]
[3 0 7]
[5 8 9]

In [ ]:
for i,row in enumerate(ran):
  print("row",i,"is",row)

row 0 is [4 9 6]
row 1 is [8 5 4]
row 2 is [8 9 3]
row 3 is [3 0 7]
row 4 is [5 8 9]

In [ ]:
ran2 = ran**2
ran2

array([[16, 81, 36],
       [64, 25, 16],
       [64, 81,  9],
       [ 9,  0, 49],
       [25, 64, 81]])

In [ ]:
for i,j in zip(ran,ran2):
  print(i,"+",j,"=",i+j)

[4 9 6] + [16 81 36] = [20 90 42]
[8 5 4] + [64 25 16] = [72 30 20]
[8 9 3] + [64 81  9] = [72 90 12]
[3 0 7] + [ 9  0 49] = [12  0 56]
[5 8 9] + [25 64 81] = [30 72 90]

In [ ]:
graduate_admission = np.genfromtxt('Admission_Predict.csv', dtype = None,delimiter=',',skip_header=1,
                                   names=('Serial No.','GRE Score','TOEFL Score','University Rating','SOP','LOR','CGPA','Research','Chance of Admit'))
graduate_admission

array([(  1, 337, 118, 4, 4.5, 4.5, 9.65, 1, 0.92),
       (  2, 324, 107, 4, 4. , 4.5, 8.87, 1, 0.76),
       (  3, 316, 104, 3, 3. , 3.5, 8.  , 1, 0.72),
       (  4, 322, 110, 3, 3.5, 2.5, 8.67, 1, 0.8 ),
       (  5, 314, 103, 2, 2. , 3. , 8.21, 0, 0.65),
       (  6, 330, 115, 5, 4.5, 3. , 9.34, 1, 0.9 ),
       (  7, 321, 109, 3, 3. , 4. , 8.2 , 1, 0.75),
       (  8, 308, 101, 2, 3. , 4. , 7.9 , 0, 0.68),
       (  9, 302, 102, 1, 2. , 1.5, 8.  , 0, 0.5 ),
       ( 10, 323, 108, 3, 3.5, 3. , 8.6 , 0, 0.45),
       ( 11, 325, 106, 3, 3.5, 4. , 8.4 , 1, 0.52),
       ( 12, 327, 111, 4, 4. , 4.5, 9.  , 1, 0.84),
       ( 13, 328, 112, 4, 4. , 4.5, 9.1 , 1, 0.78),
       ( 14, 307, 109, 3, 4. , 3. , 8.  , 1, 0.62),
       ( 15, 311, 104, 3, 3.5, 2. , 8.2 , 1, 0.61),
       ( 16, 314, 105, 3, 3.5, 2.5, 8.3 , 0, 0.54),
       ( 17, 317, 107, 3, 4. , 3. , 8.7 , 0, 0.66),
       ( 18, 319, 106, 3, 4. , 3. , 8.  , 1, 0.65),
       ( 19, 318, 110, 3, 4. , 3. , 8.8 , 0, 0.63),
       ( 20, 303, 102, 3, 3.5, 3. , 8.5 , 0, 0.62),
       ( 21, 312, 107, 3, 3. , 2. , 7.9 , 1, 0.64),
       ( 22, 325, 114, 4, 3. , 2. , 8.4 , 0, 0.7 ),
       ( 23, 328, 116, 5, 5. , 5. , 9.5 , 1, 0.94),
       ( 24, 334, 119, 5, 5. , 4.5, 9.7 , 1, 0.95),
       ( 25, 336, 119, 5, 4. , 3.5, 9.8 , 1, 0.97),
       ( 26, 340, 120, 5, 4.5, 4.5, 9.6 , 1, 0.94),
       ( 27, 322, 109, 5, 4.5, 3.5, 8.8 , 0, 0.76),
       ( 28, 298,  98, 2, 1.5, 2.5, 7.5 , 1, 0.44),
       ( 29, 295,  93, 1, 2. , 2. , 7.2 , 0, 0.46),
       ( 30, 310,  99, 2, 1.5, 2. , 7.3 , 0, 0.54),
       ( 31, 300,  97, 2, 3. , 3. , 8.1 , 1, 0.65),
       ( 32, 327, 103, 3, 4. , 4. , 8.3 , 1, 0.74),
       ( 33, 338, 118, 4, 3. , 4.5, 9.4 , 1, 0.91),
       ( 34, 340, 114, 5, 4. , 4. , 9.6 , 1, 0.9 ),
       ( 35, 331, 112, 5, 4. , 5. , 9.8 , 1, 0.94),
       ( 36, 320, 110, 5, 5. , 5. , 9.2 , 1, 0.88),
       ( 37, 299, 106, 2, 4. , 4. , 8.4 , 0, 0.64),
       ( 38, 300, 105, 1, 1. , 2. , 7.8 , 0, 0.58),
       ( 39, 304, 105, 1, 3. , 1.5, 7.5 , 0, 0.52),
       ( 40, 307, 108, 2, 4. , 3.5, 7.7 , 0, 0.48),
       ( 41, 308, 110, 3, 3.5, 3. , 8.  , 1, 0.46),
       ( 42, 316, 105, 2, 2.5, 2.5, 8.2 , 1, 0.49),
       ( 43, 313, 107, 2, 2.5, 2. , 8.5 , 1, 0.53),
       ( 44, 332, 117, 4, 4.5, 4. , 9.1 , 0, 0.87),
       ( 45, 326, 113, 5, 4.5, 4. , 9.4 , 1, 0.91),
       ( 46, 322, 110, 5, 5. , 4. , 9.1 , 1, 0.88),
       ( 47, 329, 114, 5, 4. , 5. , 9.3 , 1, 0.86),
       ( 48, 339, 119, 5, 4.5, 4. , 9.7 , 0, 0.89),
       ( 49, 321, 110, 3, 3.5, 5. , 8.85, 1, 0.82),
       ( 50, 327, 111, 4, 3. , 4. , 8.4 , 1, 0.78),
       ( 51, 313,  98, 3, 2.5, 4.5, 8.3 , 1, 0.76),
       ( 52, 312, 100, 2, 1.5, 3.5, 7.9 , 1, 0.56),
       ( 53, 334, 116, 4, 4. , 3. , 8.  , 1, 0.78),
       ( 54, 324, 112, 4, 4. , 2.5, 8.1 , 1, 0.72),
       ( 55, 322, 110, 3, 3. , 3.5, 8.  , 0, 0.7 ),
       ( 56, 320, 103, 3, 3. , 3. , 7.7 , 0, 0.64),
       ( 57, 316, 102, 3, 2. , 3. , 7.4 , 0, 0.64),
       ( 58, 298,  99, 2, 4. , 2. , 7.6 , 0, 0.46),
       ( 59, 300,  99, 1, 3. , 2. , 6.8 , 1, 0.36),
       ( 60, 311, 104, 2, 2. , 2. , 8.3 , 0, 0.42),
       ( 61, 309, 100, 2, 3. , 3. , 8.1 , 0, 0.48),
       ( 62, 307, 101, 3, 4. , 3. , 8.2 , 0, 0.47),
       ( 63, 304, 105, 2, 3. , 3. , 8.2 , 1, 0.54),
       ( 64, 315, 107, 2, 4. , 3. , 8.5 , 1, 0.56),
       ( 65, 325, 111, 3, 3. , 3.5, 8.7 , 0, 0.52),
       ( 66, 325, 112, 4, 3.5, 3.5, 8.92, 0, 0.55),
       ( 67, 327, 114, 3, 3. , 3. , 9.02, 0, 0.61),
       ( 68, 316, 107, 2, 3.5, 3.5, 8.64, 1, 0.57),
       ( 69, 318, 109, 3, 3.5, 4. , 9.22, 1, 0.68),
       ( 70, 328, 115, 4, 4.5, 4. , 9.16, 1, 0.78),
       ( 71, 332, 118, 5, 5. , 5. , 9.64, 1, 0.94),
       ( 72, 336, 112, 5, 5. , 5. , 9.76, 1, 0.96),
       ( 73, 321, 111, 5, 5. , 5. , 9.45, 1, 0.93),
       ( 74, 314, 108, 4, 4.5, 4. , 9.04, 1, 0.84),
       ( 75, 314, 106, 3, 3. , 5. , 8.9 , 0, 0.74),
       ( 76, 329, 114, 2, 2. , 4. , 8.56, 1, 0.72),
       ( 77, 327, 112, 3, 3. , 3. , 8.72, 1, 0.74),
       ( 78, 301,  99, 2, 3. , 2. , 8.22, 0, 0.64),
       ( 79, 296,  95, 2, 3. , 2. , 7.54, 1, 0.44),
       ( 80, 294,  93, 1, 1.5, 2. , 7.36, 0, 0.46),
       ( 81, 312, 105, 3, 2. , 3. , 8.02, 1, 0.5 ),
       ( 82, 340, 120, 4, 5. , 5. , 9.5 , 1, 0.96),
       ( 83, 320, 110, 5, 5. , 4.5, 9.22, 1, 0.92),
       ( 84, 322, 115, 5, 4. , 4.5, 9.36, 1, 0.92),
       ( 85, 340, 115, 5, 4.5, 4.5, 9.45, 1, 0.94),
       ( 86, 319, 103, 4, 4.5, 3.5, 8.66, 0, 0.76),
       ( 87, 315, 106, 3, 4.5, 3.5, 8.42, 0, 0.72),
       ( 88, 317, 107, 2, 3.5, 3. , 8.28, 0, 0.66),
       ( 89, 314, 108, 3, 4.5, 3.5, 8.14, 0, 0.64),
       ( 90, 316, 109, 4, 4.5, 3.5, 8.76, 1, 0.74),
       ( 91, 318, 106, 2, 4. , 4. , 7.92, 1, 0.64),
       ( 92, 299,  97, 3, 5. , 3.5, 7.66, 0, 0.38),
       ( 93, 298,  98, 2, 4. , 3. , 8.03, 0, 0.34),
       ( 94, 301,  97, 2, 3. , 3. , 7.88, 1, 0.44),
       ( 95, 303,  99, 3, 2. , 2.5, 7.66, 0, 0.36),
       ( 96, 304, 100, 4, 1.5, 2.5, 7.84, 0, 0.42),
       ( 97, 306, 100, 2, 3. , 3. , 8.  , 0, 0.48),
       ( 98, 331, 120, 3, 4. , 4. , 8.96, 1, 0.86),
       ( 99, 332, 119, 4, 5. , 4.5, 9.24, 1, 0.9 ),
       (100, 323, 113, 3, 4. , 4. , 8.88, 1, 0.79),
       (101, 322, 107, 3, 3.5, 3.5, 8.46, 1, 0.71),
       (102, 312, 105, 2, 2.5, 3. , 8.12, 0, 0.64),
       (103, 314, 106, 2, 4. , 3.5, 8.25, 0, 0.62),
       (104, 317, 104, 2, 4.5, 4. , 8.47, 0, 0.57),
       (105, 326, 112, 3, 3.5, 3. , 9.05, 1, 0.74),
       (106, 316, 110, 3, 4. , 4.5, 8.78, 1, 0.69),
       (107, 329, 111, 4, 4.5, 4.5, 9.18, 1, 0.87),
       (108, 338, 117, 4, 3.5, 4.5, 9.46, 1, 0.91),
       (109, 331, 116, 5, 5. , 5. , 9.38, 1, 0.93),
       (110, 304, 103, 5, 5. , 4. , 8.64, 0, 0.68),
       (111, 305, 108, 5, 3. , 3. , 8.48, 0, 0.61),
       (112, 321, 109, 4, 4. , 4. , 8.68, 1, 0.69),
       (113, 301, 107, 3, 3.5, 3.5, 8.34, 1, 0.62),
       (114, 320, 110, 2, 4. , 3.5, 8.56, 0, 0.72),
       (115, 311, 105, 3, 3.5, 3. , 8.45, 1, 0.59),
       (116, 310, 106, 4, 4.5, 4.5, 9.04, 1, 0.66),
       (117, 299, 102, 3, 4. , 3.5, 8.62, 0, 0.56),
       (118, 290, 104, 4, 2. , 2.5, 7.46, 0, 0.45),
       (119, 296,  99, 2, 3. , 3.5, 7.28, 0, 0.47),
       (120, 327, 104, 5, 3. , 3.5, 8.84, 1, 0.71),
       (121, 335, 117, 5, 5. , 5. , 9.56, 1, 0.94),
       (122, 334, 119, 5, 4.5, 4.5, 9.48, 1, 0.94),
       (123, 310, 106, 4, 1.5, 2.5, 8.36, 0, 0.57),
       (124, 308, 108, 3, 3.5, 3.5, 8.22, 0, 0.61),
       (125, 301, 106, 4, 2.5, 3. , 8.47, 0, 0.57),
       (126, 300, 100, 3, 2. , 3. , 8.66, 1, 0.64),
       (127, 323, 113, 3, 4. , 3. , 9.32, 1, 0.85),
       (128, 319, 112, 3, 2.5, 2. , 8.71, 1, 0.78),
       (129, 326, 112, 3, 3.5, 3. , 9.1 , 1, 0.84),
       (130, 333, 118, 5, 5. , 5. , 9.35, 1, 0.92),
       (131, 339, 114, 5, 4. , 4.5, 9.76, 1, 0.96),
       (132, 303, 105, 5, 5. , 4.5, 8.65, 0, 0.77),
       (133, 309, 105, 5, 3.5, 3.5, 8.56, 0, 0.71),
       (134, 323, 112, 5, 4. , 4.5, 8.78, 0, 0.79),
       (135, 333, 113, 5, 4. , 4. , 9.28, 1, 0.89),
       (136, 314, 109, 4, 3.5, 4. , 8.77, 1, 0.82),
       (137, 312, 103, 3, 5. , 4. , 8.45, 0, 0.76),
       (138, 316, 100, 2, 1.5, 3. , 8.16, 1, 0.71),
       (139, 326, 116, 2, 4.5, 3. , 9.08, 1, 0.8 ),
       (140, 318, 109, 1, 3.5, 3.5, 9.12, 0, 0.78),
       (141, 329, 110, 2, 4. , 3. , 9.15, 1, 0.84),
       (142, 332, 118, 2, 4.5, 3.5, 9.36, 1, 0.9 ),
       (143, 331, 115, 5, 4. , 3.5, 9.44, 1, 0.92),
       (144, 340, 120, 4, 4.5, 4. , 9.92, 1, 0.97),
       (145, 325, 112, 2, 3. , 3.5, 8.96, 1, 0.8 ),
       (146, 320, 113, 2, 2. , 2.5, 8.64, 1, 0.81),
       (147, 315, 105, 3, 2. , 2.5, 8.48, 0, 0.75),
       (148, 326, 114, 3, 3. , 3. , 9.11, 1, 0.83),
       (149, 339, 116, 4, 4. , 3.5, 9.8 , 1, 0.96),
       (150, 311, 106, 2, 3.5, 3. , 8.26, 1, 0.79),
       (151, 334, 114, 4, 4. , 4. , 9.43, 1, 0.93),
       (152, 332, 116, 5, 5. , 5. , 9.28, 1, 0.94),
       (153, 321, 112, 5, 5. , 5. , 9.06, 1, 0.86),
       (154, 324, 105, 3, 3. , 4. , 8.75, 0, 0.79),
       (155, 326, 108, 3, 3. , 3.5, 8.89, 0, 0.8 ),
       (156, 312, 109, 3, 3. , 3. , 8.69, 0, 0.77),
       (157, 315, 105, 3, 2. , 2.5, 8.34, 0, 0.7 ),
       (158, 309, 104, 2, 2. , 2.5, 8.26, 0, 0.65),
       (159, 306, 106, 2, 2. , 2.5, 8.14, 0, 0.61),
       (160, 297, 100, 1, 1.5, 2. , 7.9 , 0, 0.52),
       (161, 315, 103, 1, 1.5, 2. , 7.86, 0, 0.57),
       (162, 298,  99, 1, 1.5, 3. , 7.46, 0, 0.53),
       (163, 318, 109, 3, 3. , 3. , 8.5 , 0, 0.67),
       (164, 317, 105, 3, 3.5, 3. , 8.56, 0, 0.68),
       (165, 329, 111, 4, 4.5, 4. , 9.01, 1, 0.81),
       (166, 322, 110, 5, 4.5, 4. , 8.97, 0, 0.78),
       (167, 302, 102, 3, 3.5, 5. , 8.33, 0, 0.65),
       (168, 313, 102, 3, 2. , 3. , 8.27, 0, 0.64),
       (169, 293,  97, 2, 2. , 4. , 7.8 , 1, 0.64),
       (170, 311,  99, 2, 2.5, 3. , 7.98, 0, 0.65),
       (171, 312, 101, 2, 2.5, 3.5, 8.04, 1, 0.68),
       (172, 334, 117, 5, 4. , 4.5, 9.07, 1, 0.89),
       (173, 322, 110, 4, 4. , 5. , 9.13, 1, 0.86),
       (174, 323, 113, 4, 4. , 4.5, 9.23, 1, 0.89),
       (175, 321, 111, 4, 4. , 4. , 8.97, 1, 0.87),
       (176, 320, 111, 4, 4.5, 3.5, 8.87, 1, 0.85),
       (177, 329, 119, 4, 4.5, 4.5, 9.16, 1, 0.9 ),
       (178, 319, 110, 3, 3.5, 3.5, 9.04, 0, 0.82),
       (179, 309, 108, 3, 2.5, 3. , 8.12, 0, 0.72),
       (180, 307, 102, 3, 3. , 3. , 8.27, 0, 0.73),
       (181, 300, 104, 3, 3.5, 3. , 8.16, 0, 0.71),
       (182, 305, 107, 2, 2.5, 2.5, 8.42, 0, 0.71),
       (183, 299, 100, 2, 3. , 3.5, 7.88, 0, 0.68),
       (184, 314, 110, 3, 4. , 4. , 8.8 , 0, 0.75),
       (185, 316, 106, 2, 2.5, 4. , 8.32, 0, 0.72),
       (186, 327, 113, 4, 4.5, 4.5, 9.11, 1, 0.89),
       (187, 317, 107, 3, 3.5, 3. , 8.68, 1, 0.84),
       (188, 335, 118, 5, 4.5, 3.5, 9.44, 1, 0.93),
       (189, 331, 115, 5, 4.5, 3.5, 9.36, 1, 0.93),
       (190, 324, 112, 5, 5. , 5. , 9.08, 1, 0.88),
       (191, 324, 111, 5, 4.5, 4. , 9.16, 1, 0.9 ),
       (192, 323, 110, 5, 4. , 5. , 8.98, 1, 0.87),
       (193, 322, 114, 5, 4.5, 4. , 8.94, 1, 0.86),
       (194, 336, 118, 5, 4.5, 5. , 9.53, 1, 0.94),
       (195, 316, 109, 3, 3.5, 3. , 8.76, 0, 0.77),
       (196, 307, 107, 2, 3. , 3.5, 8.52, 1, 0.78),
       (197, 306, 105, 2, 3. , 2.5, 8.26, 0, 0.73),
       (198, 310, 106, 2, 3.5, 2.5, 8.33, 0, 0.73),
       (199, 311, 104, 3, 4.5, 4.5, 8.43, 0, 0.7 ),
       (200, 313, 107, 3, 4. , 4.5, 8.69, 0, 0.72),
       (201, 317, 103, 3, 2.5, 3. , 8.54, 1, 0.73),
       (202, 315, 110, 2, 3.5, 3. , 8.46, 1, 0.72),
       (203, 340, 120, 5, 4.5, 4.5, 9.91, 1, 0.97),
       (204, 334, 120, 5, 4. , 5. , 9.87, 1, 0.97),
       (205, 298, 105, 3, 3.5, 4. , 8.54, 0, 0.69),
       (206, 295,  99, 2, 2.5, 3. , 7.65, 0, 0.57),
       (207, 315,  99, 2, 3.5, 3. , 7.89, 0, 0.63),
       (208, 310, 102, 3, 3.5, 4. , 8.02, 1, 0.66),
       (209, 305, 106, 2, 3. , 3. , 8.16, 0, 0.64),
       (210, 301, 104, 3, 3.5, 4. , 8.12, 1, 0.68),
       (211, 325, 108, 4, 4.5, 4. , 9.06, 1, 0.79),
       (212, 328, 110, 4, 5. , 4. , 9.14, 1, 0.82),
       (213, 338, 120, 4, 5. , 5. , 9.66, 1, 0.95),
       (214, 333, 119, 5, 5. , 4.5, 9.78, 1, 0.96),
       (215, 331, 117, 4, 4.5, 5. , 9.42, 1, 0.94),
       (216, 330, 116, 5, 5. , 4.5, 9.36, 1, 0.93),
       (217, 322, 112, 4, 4.5, 4.5, 9.26, 1, 0.91),
       (218, 321, 109, 4, 4. , 4. , 9.13, 1, 0.85),
       (219, 324, 110, 4, 3. , 3.5, 8.97, 1, 0.84),
       (220, 312, 104, 3, 3.5, 3.5, 8.42, 0, 0.74),
       (221, 313, 103, 3, 4. , 4. , 8.75, 0, 0.76),
       (222, 316, 110, 3, 3.5, 4. , 8.56, 0, 0.75),
       (223, 324, 113, 4, 4.5, 4. , 8.79, 0, 0.76),
       (224, 308, 109, 2, 3. , 4. , 8.45, 0, 0.71),
       (225, 305, 105, 2, 3. , 2. , 8.23, 0, 0.67),
       (226, 296,  99, 2, 2.5, 2.5, 8.03, 0, 0.61),
       (227, 306, 110, 2, 3.5, 4. , 8.45, 0, 0.63),
       (228, 312, 110, 2, 3.5, 3. , 8.53, 0, 0.64),
       (229, 318, 112, 3, 4. , 3.5, 8.67, 0, 0.71),
       (230, 324, 111, 4, 3. , 3. , 9.01, 1, 0.82),
       (231, 313, 104, 3, 4. , 4.5, 8.65, 0, 0.73),
       (232, 319, 106, 3, 3.5, 2.5, 8.33, 1, 0.74),
       (233, 312, 107, 2, 2.5, 3.5, 8.27, 0, 0.69),
       (234, 304, 100, 2, 2.5, 3.5, 8.07, 0, 0.64),
       (235, 330, 113, 5, 5. , 4. , 9.31, 1, 0.91),
       (236, 326, 111, 5, 4.5, 4. , 9.23, 1, 0.88),
       (237, 325, 112, 4, 4. , 4.5, 9.17, 1, 0.85),
       (238, 329, 114, 5, 4.5, 5. , 9.19, 1, 0.86),
       (239, 310, 104, 3, 2. , 3.5, 8.37, 0, 0.7 ),
       (240, 299, 100, 1, 1.5, 2. , 7.89, 0, 0.59),
       (241, 296, 101, 1, 2.5, 3. , 7.68, 0, 0.6 ),
       (242, 317, 103, 2, 2.5, 2. , 8.15, 0, 0.65),
       (243, 324, 115, 3, 3.5, 3. , 8.76, 1, 0.7 ),
       (244, 325, 114, 3, 3.5, 3. , 9.04, 1, 0.76),
       (245, 314, 107, 2, 2.5, 4. , 8.56, 0, 0.63),
       (246, 328, 110, 4, 4. , 2.5, 9.02, 1, 0.81),
       (247, 316, 105, 3, 3. , 3.5, 8.73, 0, 0.72),
       (248, 311, 104, 2, 2.5, 3.5, 8.48, 0, 0.71),
       (249, 324, 110, 3, 3.5, 4. , 8.87, 1, 0.8 ),
       (250, 321, 111, 3, 3.5, 4. , 8.83, 1, 0.77),
       (251, 320, 104, 3, 3. , 2.5, 8.57, 1, 0.74),
       (252, 316,  99, 2, 2.5, 3. , 9.  , 0, 0.7 ),
       (253, 318, 100, 2, 2.5, 3.5, 8.54, 1, 0.71),
       (254, 335, 115, 4, 4.5, 4.5, 9.68, 1, 0.93),
       (255, 321, 114, 4, 4. , 5. , 9.12, 0, 0.85),
       (256, 307, 110, 4, 4. , 4.5, 8.37, 0, 0.79),
       (257, 309,  99, 3, 4. , 4. , 8.56, 0, 0.76),
       (258, 324, 100, 3, 4. , 5. , 8.64, 1, 0.78),
       (259, 326, 102, 4, 5. , 5. , 8.76, 1, 0.77),
       (260, 331, 119, 4, 5. , 4.5, 9.34, 1, 0.9 ),
       (261, 327, 108, 5, 5. , 3.5, 9.13, 1, 0.87),
       (262, 312, 104, 3, 3.5, 4. , 8.09, 0, 0.71),
       (263, 308, 103, 2, 2.5, 4. , 8.36, 1, 0.7 ),
       (264, 324, 111, 3, 2.5, 1.5, 8.79, 1, 0.7 ),
       (265, 325, 110, 2, 3. , 2.5, 8.76, 1, 0.75),
       (266, 313, 102, 3, 2.5, 2.5, 8.68, 0, 0.71),
       (267, 312, 105, 2, 2. , 2.5, 8.45, 0, 0.72),
       (268, 314, 107, 3, 3. , 3.5, 8.17, 1, 0.73),
       (269, 327, 113, 4, 4.5, 5. , 9.14, 0, 0.83),
       (270, 308, 108, 4, 4.5, 5. , 8.34, 0, 0.77),
       (271, 306, 105, 2, 2.5, 3. , 8.22, 1, 0.72),
       (272, 299,  96, 2, 1.5, 2. , 7.86, 0, 0.54),
       (273, 294,  95, 1, 1.5, 1.5, 7.64, 0, 0.49),
       (274, 312,  99, 1, 1. , 1.5, 8.01, 1, 0.52),
       (275, 315, 100, 1, 2. , 2.5, 7.95, 0, 0.58),
       (276, 322, 110, 3, 3.5, 3. , 8.96, 1, 0.78),
       (277, 329, 113, 5, 5. , 4.5, 9.45, 1, 0.89),
       (278, 320, 101, 2, 2.5, 3. , 8.62, 0, 0.7 ),
       (279, 308, 103, 2, 3. , 3.5, 8.49, 0, 0.66),
       (280, 304, 102, 2, 3. , 4. , 8.73, 0, 0.67),
       (281, 311, 102, 3, 4.5, 4. , 8.64, 1, 0.68),
       (282, 317, 110, 3, 4. , 4.5, 9.11, 1, 0.8 ),
       (283, 312, 106, 3, 4. , 3.5, 8.79, 1, 0.81),
       (284, 321, 111, 3, 2.5, 3. , 8.9 , 1, 0.8 ),
       (285, 340, 112, 4, 5. , 4.5, 9.66, 1, 0.94),
       (286, 331, 116, 5, 4. , 4. , 9.26, 1, 0.93),
       (287, 336, 118, 5, 4.5, 4. , 9.19, 1, 0.92),
       (288, 324, 114, 5, 5. , 4.5, 9.08, 1, 0.89),
       (289, 314, 104, 4, 5. , 5. , 9.02, 0, 0.82),
       (290, 313, 109, 3, 4. , 3.5, 9.  , 0, 0.79),
       (291, 307, 105, 2, 2.5, 3. , 7.65, 0, 0.58),
       (292, 300, 102, 2, 1.5, 2. , 7.87, 0, 0.56),
       (293, 302,  99, 2, 1. , 2. , 7.97, 0, 0.56),
       (294, 312,  98, 1, 3.5, 3. , 8.18, 1, 0.64),
       (295, 316, 101, 2, 2.5, 2. , 8.32, 1, 0.61),
       (296, 317, 100, 2, 3. , 2.5, 8.57, 0, 0.68),
       (297, 310, 107, 3, 3.5, 3.5, 8.67, 0, 0.76),
       (298, 320, 120, 3, 4. , 4.5, 9.11, 0, 0.86),
       (299, 330, 114, 3, 4.5, 4.5, 9.24, 1, 0.9 ),
       (300, 305, 112, 3, 3. , 3.5, 8.65, 0, 0.71),
       (301, 309, 106, 2, 2.5, 2.5, 8.  , 0, 0.62),
       (302, 319, 108, 2, 2.5, 3. , 8.76, 0, 0.66),
       (303, 322, 105, 2, 3. , 3. , 8.45, 1, 0.65),
       (304, 323, 107, 3, 3.5, 3.5, 8.55, 1, 0.73),
       (305, 313, 106, 2, 2.5, 2. , 8.43, 0, 0.62),
       (306, 321, 109, 3, 3.5, 3.5, 8.8 , 1, 0.74),
       (307, 323, 110, 3, 4. , 3.5, 9.1 , 1, 0.79),
       (308, 325, 112, 4, 4. , 4. , 9.  , 1, 0.8 ),
       (309, 312, 108, 3, 3.5, 3. , 8.53, 0, 0.69),
       (310, 308, 110, 4, 3.5, 3. , 8.6 , 0, 0.7 ),
       (311, 320, 104, 3, 3. , 3.5, 8.74, 1, 0.76),
       (312, 328, 108, 4, 4.5, 4. , 9.18, 1, 0.84),
       (313, 311, 107, 4, 4.5, 4.5, 9.  , 1, 0.78),
       (314, 301, 100, 3, 3.5, 3. , 8.04, 0, 0.67),
       (315, 305, 105, 2, 3. , 4. , 8.13, 0, 0.66),
       (316, 308, 104, 2, 2.5, 3. , 8.07, 0, 0.65),
       (317, 298, 101, 2, 1.5, 2. , 7.86, 0, 0.54),
       (318, 300,  99, 1, 1. , 2.5, 8.01, 0, 0.58),
       (319, 324, 111, 3, 2.5, 2. , 8.8 , 1, 0.79),
       (320, 327, 113, 4, 3.5, 3. , 8.69, 1, 0.8 ),
       (321, 317, 106, 3, 4. , 3.5, 8.5 , 1, 0.75),
       (322, 323, 104, 3, 4. , 4. , 8.44, 1, 0.73),
       (323, 314, 107, 2, 2.5, 4. , 8.27, 0, 0.72),
       (324, 305, 102, 2, 2. , 2.5, 8.18, 0, 0.62),
       (325, 315, 104, 3, 3. , 2.5, 8.33, 0, 0.67),
       (326, 326, 116, 3, 3.5, 4. , 9.14, 1, 0.81),
       (327, 299, 100, 3, 2. , 2. , 8.02, 0, 0.63),
       (328, 295, 101, 2, 2.5, 2. , 7.86, 0, 0.69),
       (329, 324, 112, 4, 4. , 3.5, 8.77, 1, 0.8 ),
       (330, 297,  96, 2, 2.5, 1.5, 7.89, 0, 0.43),
       (331, 327, 113, 3, 3.5, 3. , 8.66, 1, 0.8 ),
       (332, 311, 105, 2, 3. , 2. , 8.12, 1, 0.73),
       (333, 308, 106, 3, 3.5, 2.5, 8.21, 1, 0.75),
       (334, 319, 108, 3, 3. , 3.5, 8.54, 1, 0.71),
       (335, 312, 107, 4, 4.5, 4. , 8.65, 1, 0.73),
       (336, 325, 111, 4, 4. , 4.5, 9.11, 1, 0.83),
       (337, 319, 110, 3, 3. , 2.5, 8.79, 0, 0.72),
       (338, 332, 118, 5, 5. , 5. , 9.47, 1, 0.94),
       (339, 323, 108, 5, 4. , 4. , 8.74, 1, 0.81),
       (340, 324, 107, 5, 3.5, 4. , 8.66, 1, 0.81),
       (341, 312, 107, 3, 3. , 3. , 8.46, 1, 0.75),
       (342, 326, 110, 3, 3.5, 3.5, 8.76, 1, 0.79),
       (343, 308, 106, 3, 3. , 3. , 8.24, 0, 0.58),
       (344, 305, 103, 2, 2.5, 3.5, 8.13, 0, 0.59),
       (345, 295,  96, 2, 1.5, 2. , 7.34, 0, 0.47),
       (346, 316,  98, 1, 1.5, 2. , 7.43, 0, 0.49),
       (347, 304,  97, 2, 1.5, 2. , 7.64, 0, 0.47),
       (348, 299,  94, 1, 1. , 1. , 7.34, 0, 0.42),
       (349, 302,  99, 1, 2. , 2. , 7.25, 0, 0.57),
       (350, 313, 101, 3, 2.5, 3. , 8.04, 0, 0.62),
       (351, 318, 107, 3, 3. , 3.5, 8.27, 1, 0.74),
       (352, 325, 110, 4, 3.5, 4. , 8.67, 1, 0.73),
       (353, 303, 100, 2, 3. , 3.5, 8.06, 1, 0.64),
       (354, 300, 102, 3, 3.5, 2.5, 8.17, 0, 0.63),
       (355, 297,  98, 2, 2.5, 3. , 7.67, 0, 0.59),
       (356, 317, 106, 2, 2. , 3.5, 8.12, 0, 0.73),
       (357, 327, 109, 3, 3.5, 4. , 8.77, 1, 0.79),
       (358, 301, 104, 2, 3.5, 3.5, 7.89, 1, 0.68),
       (359, 314, 105, 2, 2.5, 2. , 7.64, 0, 0.7 ),
       (360, 321, 107, 2, 2. , 1.5, 8.44, 0, 0.81),
       (361, 322, 110, 3, 4. , 5. , 8.64, 1, 0.85),
       (362, 334, 116, 4, 4. , 3.5, 9.54, 1, 0.93),
       (363, 338, 115, 5, 4.5, 5. , 9.23, 1, 0.91),
       (364, 306, 103, 2, 2.5, 3. , 8.36, 0, 0.69),
       (365, 313, 102, 3, 3.5, 4. , 8.9 , 1, 0.77),
       (366, 330, 114, 4, 4.5, 3. , 9.17, 1, 0.86),
       (367, 320, 104, 3, 3.5, 4.5, 8.34, 1, 0.74),
       (368, 311,  98, 1, 1. , 2.5, 7.46, 0, 0.57),
       (369, 298,  92, 1, 2. , 2. , 7.88, 0, 0.51),
       (370, 301,  98, 1, 2. , 3. , 8.03, 1, 0.67),
       (371, 310, 103, 2, 2.5, 2.5, 8.24, 0, 0.72),
       (372, 324, 110, 3, 3.5, 3. , 9.22, 1, 0.89),
       (373, 336, 119, 4, 4.5, 4. , 9.62, 1, 0.95),
       (374, 321, 109, 3, 3. , 3. , 8.54, 1, 0.79),
       (375, 315, 105, 2, 2. , 2.5, 7.65, 0, 0.39),
       (376, 304, 101, 2, 2. , 2.5, 7.66, 0, 0.38),
       (377, 297,  96, 2, 2.5, 2. , 7.43, 0, 0.34),
       (378, 290, 100, 1, 1.5, 2. , 7.56, 0, 0.47),
       (379, 303,  98, 1, 2. , 2.5, 7.65, 0, 0.56),
       (380, 311,  99, 1, 2.5, 3. , 8.43, 1, 0.71),
       (381, 322, 104, 3, 3.5, 4. , 8.84, 1, 0.78),
       (382, 319, 105, 3, 3. , 3.5, 8.67, 1, 0.73),
       (383, 324, 110, 4, 4.5, 4. , 9.15, 1, 0.82),
       (384, 300, 100, 3, 3. , 3.5, 8.26, 0, 0.62),

In [ ]:
graduate_admission.shape

(400,)

In [ ]:
graduate_admission['CGPA'][0:5]

array([9.65, 8.87, 8.  , 8.67, 8.21])

In [ ]:
graduate_admission['CGPA'] = graduate_admission['CGPA']/10*4

In [ ]:
graduate_admission['CGPA'][0:20]

array([3.86 , 3.548, 3.2  , 3.468, 3.284, 3.736, 3.28 , 3.16 , 3.2  ,
       3.44 , 3.36 , 3.6  , 3.64 , 3.2  , 3.28 , 3.32 , 3.48 , 3.2  ,
       3.52 , 3.4  ])

In [ ]:
len(graduate_admission[graduate_admission['Research']==1])

219

In [ ]:
print(graduate_admission[graduate_admission['Chance_of_Admit']>0.8]['GRE_Score'].mean())

328.7350427350427

In [ ]:
print(graduate_admission[graduate_admission['Chance_of_Admit']<0.4]['GRE_Score'].mean())

302.2857142857143

In [ ]:
print(graduate_admission[graduate_admission['Chance_of_Admit']>0.8]['CGPA'].mean())
print(graduate_admission[graduate_admission['Chance_of_Admit']<0.4]['CGPA'].mean())

3.7106666666666666
3.0222857142857142

In [ ]:
import re

text = "My name is Mayank"
if re.search("Mayank",text):
  print("Correct ans")
else:
  print("Wrong ans")

Correct ans

In [ ]:
text = "Mayank is great. Competative coding is Mayank passion. Mayank learns fast"
re.split("Mayank",text)

['', ' is great. Competative coding is ', ' passion. ', ' learns fast']

In [ ]:
re.findall("Mayank",text)

['Mayank', 'Mayank', 'Mayank']

In [ ]:
re.search("^Mayank",text)

In [ ]:
text1 = "AABABCABC"
re.findall("B",text1)

['B', 'B', 'B']

In [ ]:
re.findall("[AB]",text1)

['A', 'A', 'B', 'A', 'B', 'A', 'B']

In [ ]:
re.findall("[A][B-C]",text1)

['AB', 'AB', 'AB']

In [ ]:
re.findall("[^A]",text1)

['B', 'B', 'C', 'B', 'C']

In [ ]:
re.findall("A{1,2}",text1) #no extra space in between

['AA', 'A', 'A']

In [ ]:
# with open("https://dl.packetstormsecurity.net/papers/legal/ferpa.txt","r") as file:
#   wiki = file.read()
import urllib
import requests
url = "https://dl.packetstormsecurity.net/papers/legal/ferpa.txt"
file = urllib.request.urlopen(url)

for i in file:
  decoded_line = i.decode("utf-8")
  print(decoded_line)

   ****************************************************************

   *   Document from the CPSR Privacy/Information Archive         *

   *  FTP/Gopher/WAIS: cpsr.org  email: listserv@cpsr.org "help"  *

   *                                                              *

   *    For more information contact: cpsr@csli.stanford.edu      *

   *                        415-322-3778                          *

   ****************************************************************







Family Educational Right to Privacy Act.  (Buckley Ammendment)



(as of 4/93)



20 USC  S. 1232g





S.  1232g.  Family educational and privacy rights



   (a) Conditions for availability of funds to educational agencies or

institutions; inspection and review of education records; specific

information to be made available; procedure for access to education

records; reasonableness of time for such access; hearings; written

explanations by parents; definitions.



   (1) (A) No funds shall be made available under any applicable program

to any educational agency or institution which has a policy of denying,

or which effectively prevents, the parents of students who are or have

been in attendance at a school of such agency or at such institution, as

the case may be, the right to inspect and review the education records of

their children. If any material or document in the education record of a

student includes information on more than one student, the parents of one

of such students shall have the right to inspect and review only such

part of such material or document as relates to such student or to be

informed of the specific information contained in such part of such

material. Each educational agency or institution shall establish

appropriate procedures for the granting of a request by parents for

access to the education records of their children within a reasonable

period of time, but in no case more than forty-five days after the

request has been made.



   (B) The first sentence of subparagraph (A) shall not operate to make

available to students in institutions of postsecondary education the

following materials:



   (i) financial records of the parents of the student or any information

contained therein;



   (ii) confidential letters and statements of recommendation, which were

placed in the education records prior to January 1, 1975, if such letters

or statements are not used for purposes other than those for which they

were specifically intended;



   (iii) if the student has signed a waiver of the student's right of

access under this subsection in accordance with subparagraph (C),

confidential recommendations--



   (I) respecting admission to any educational agency or institution,



   (II) respecting an application for employment, and



   (III) respecting the receipt of an honor or honorary recognition.



   (C) A student or a person applying for admission may waive his right

of access to confidential statements described in clause (iii) of

subparagraph (B), except that such waiver shall apply to recommendations

only if (i) the student is, upon request, notified of the names of all

persons making confidential recommendations and (ii) such recommendations

are used solely for the purpose for which they were specifically

intended. Such waivers may not be required as a condition for admission

to, receipt of financial aid from, or receipt of any other services or

benefits from such agency or institution.



   (2) No funds shall be made available under any applicable program to

any educational agency or institution unless the parents of students who

are or have been in attendance at a school of such agency or at such

institution are provided an opportunity for a hearing by such agency or

institution, in accordance with regulations of the Secretary, to

challenge the content of such student's education records, in order to

insure that the records are not inaccurate, misleading, or otherwise in

violation of the privacy or other rights of students, and to provide an

opportunity for the correction or deletion of any such inaccurate,

misleading, or otherwise inappropriate data contained therein and to

insert into such records a written explanation of the parents respecting

the content of such records.



   (3) For the purposes of this section the term "educational agency or

institution" means any public or private agency or institution which is

the recipient of funds under any applicable program.



   (4) (A) For the purposes of this section, the term "education records"

means, except as may be provided otherwise in subparagraph (B), those

records, files, documents, and other materials which--



   (i) contain information directly related to a student; and



   (ii) are maintained by an educational agency or institution or by a

person acting for such agency or institution.



   (B) The term "education records" does not include--



   (i) records of instructional, supervisory, and administrative

personnel and educational personnel ancillary thereto which are in the

sole possession of the maker thereof and which are not accessible or

revealed to any other person except a substitute;



   (ii) records maintained by a law enforcement unit of the educational

agency or institution that were created by that law enforcement unit for

the purpose of law enforcement.



   (iii) in the case of persons who are employed by an educational agency

or institution but who are not in attendance at such agency or

institution, records made and maintained in the normal course of business

which relate exclusively to such person in that person's capacity as an

employee and are not available for use for any other purpose; or



   (iv) records on a student who is eighteen years of age or older, or is

attending an institution of postsecondary education, which are made or

maintained by a physician, psychiatrist, psychologist, or other

recognized professional or paraprofessional acting in his professional or

paraprofessional capacity, or assisting in that capacity, and which are

made, maintained, or used only in connection with the provision of

treatment to the student, and are not available to anyone other than

persons providing such treatment, except that such records can be

personally reviewed by a physician or other appropriate professional of

the student's choice.



   (5) (A) For the purposes of this section the term "directory

information" relating to a student includes the following: the student's

name, address, telephone listing, date and place of birth, major field of

study, participation in officially recognized activities and sports,

weight and height of members of athletic teams, dates of attendance,

degrees and awards received, and the most recent previous educational

agency or institution attended by the student.



   (B) Any educational agency or institution making public directory

information shall give public notice of the categories of information

which it has designated as such information with respect to each student

attending the institution or agency and shall allow a reasonable period

of time after such notice has been given for a parent to inform the

institution or agency that any or all of the information designated

should not be released without the parent's prior consent.



   (6) For the purposes of this section, the term "student" includes any

person with respect to whom an educational agency or institution

maintains education records or personally identifiable information, but

does not include a person who has not been in attendance at such agency

or institution.



   (b) Release of education records; parental consent requirement;

exceptions; compliance with judicial orders and subpoenas; audit and

evaluation of Federally-supported education programs; recordkeeping.



   (1) No funds shall be made available under any applicable program to

any educational agency or institution which has a policy or practice of

permitting the release of educational records (or personally identifiable

information contained therein other than directory information, as

defined in paragraph (5) of subsection (a)) of students without the

written consent of their parents to any individual, agency, or

organization, other than to the following--



   (A) other school officials, including teachers within the educational

institution or local educational agency, who have been determined by such

agency or institution to have legitimate educational interests;



   (B) officials of other schools or school systems in which the student

seeks or intends to enroll, upon condition that the student's parents be

notified of the transfer, receive a copy of the record if desired, and

have an opportunity for a hearing to challenge the content of the record;



   (C) authorized representatives of (i) the Comptroller General of the

United States, (ii) the Secretary, (iii) an administrative head of an

educational agency (as defined in section 408(c) , or (iv) State

educational authorities, under the conditions set forth in paragraph (3)

of this subsection;



   (D) in connection with a student's application for, or receipt of,

financial aid;



   (E) State and local officials or authorities to whom such information

is specifically required to be reported or disclosed pursuant to State

statute adopted prior to November 19, 1974;



   (F) organizations conducting studies for, or on behalf of, educational

agencies or institutions for the purpose of developing, validating, or

administering predictive tests, administering student aid programs, and

improving instruction, if such studies are conducted in such a manner as

will not permit the personal identification of students and their parents

by persons other than representatives of such organizations and such

information will be destroyed when no longer needed for the purpose for

which it is conducted;



   (G) accrediting organizations in order to carry out their accrediting

functions;



   (H) parents of a dependent student of such parents, as defined in

section 152 of the Internal Revenue Code of 1954;  and



   (I) subject to regulations of the Secretary, in connection with an

emergency, appropriate persons if the knowledge of such information is

necessary to protect



the health or safety of the student or other persons.



   Nothing in clause (E) of this paragraph shall prevent a State from

further limiting the number or type of State or local officials who will

continue to have access thereunder.



   (2) No funds shall be made available under any applicable program to

any educational agency or institution which has a policy or practice of

releasing, or providing access to, any personally identifiable

information in education records other than directory information, or as

is permitted under paragraph (1) of this subsection unless--



   (A) there is written consent from the student's parents specifying

records to be released, the reasons for such release, and to whom, and

with a copy of the records to be released to the student's parents and

the student if desired by the parents, or



   (B) such information is furnished in compliance with judicial order,

or pursuant to any lawfully issued subpoena, upon condition that parents

and the students are notified of all such orders or subpoenas in advance

of the compliance therewith by the educational institution or agency.



   (3) Nothing contained in this section shall preclude authorized

representatives of (A) the Comptroller General of the United States, (B)

the Secretary, (C) an administrative head of an education agency or (D)

State educational authorities from having access to student or other

records which may be necessary in connection with the audit and

evaluation of Federally-supported education program, or in connection

with the enforcement of the Federal legal requirements which relate to

such programs: Provided, That except when collection of personally

identifiable information is specifically authorized by Federal law, any

data collected by such officials shall be protected in a manner which

will not permit the personal identification of students and their parents

by other than those officials, and such personally identifiable data

shall be destroyed when no longer needed for such audit, evaluation, and

enforcement of Federal legal requirements.



   (4) (A) Each educational agency or institution shall maintain a

record, kept with the education records of each student, which will

indicate all individuals (other than those specified in paragraph (1)(A)

of this subsection), agencies, or organizations which have requested or

obtained access to a student's education records maintained by such

educational agency or institution, and which will indicate specifically

the legitimate interest that each such person, agency, or organization

has in obtaining this information.  Such record of access shall be

available only to parents, to the school official and his assistants who

are responsible for the custody of such records, and to persons or

organizations authorized in, and under the conditions of, clauses (A) and

(C) of paragraph (1) as a means of auditing the operation of the system.



   (B) With respect to this subsection, personal information shall only

be transferred to a third party on the condition that such party will not

permit any other party to have access to such information without the

written consent of the parents of the student.



   (5) Nothing in this section shall be construed to prohibit State and

local educational officials from having access to student or other

records which may be necessary in connection with the audit and

evaluation of any federally or State supported education program or in

connection with the enforcement of the Federal legal requirements which

relate to any such program, subject to the conditions specified in the

proviso in paragraph (3).



   (6) Nothing in this section shall be construed to prohibit an

institution of postsecondary education from disclosing, to an alleged

victim of any crime of violence (as that term is defined in section 16 of

title 18, United States Code), the results of any disciplinary proceeding

conducted by such institution against the alleged perpetrator of such

crime with respect to such crime.



   (c) Surveys or data-gathering activities; regulations.  The Secretary

shall adopt appropriate regulations to protect the rights of privacy of

students and their families in connection with any surveys or

data-gathering activities conducted, assisted, or authorized by the

Secretary or an administrative head of an education agency. Regulations

established under this subsection shall include provisions controlling

the use, dissemination, and protection of such data. No survey or

data-gathering activities shall be conducted by the Secretary, or an

administrative head of an education agency under an applicable program,

unless such activities are authorized by law.



   (d) Students' rather than parents' permission or consent.  For the

purposes of this section, whenever a student has attained eighteen years

of age, or is attending an institution of postsecondary education the

permission or consent required of and the rights accorded to the parents

of the student shall thereafter only be required of and accorded to the

student.



   (e) Informing parents or students of rights under this section.  No

funds shall be made available under any applicable program to any

educational agency or institution unless such agency or institution

informs the parents of students, or the students, if they are eighteen

years of age or older, or are attending an institution of postsecondary

education, of the rights accorded them by this section.



   (f) Enforcement; termination of assistance.  The Secretary, or an

administrative head of an education agency, shall take appropriate

actions to enforce provisions of this section and to deal with violations

of this section, according to the provisions of this Act, except that

action to terminate assistance may be taken only if the Secretary finds

there has been a failure to comply with the provisions of this section,

and he has determined that compliance cannot be secured by voluntary

means.



   (g) Office and review board; creation; functions.  The Secretary shall

establish or designate an office and review board within the Department

of Health, Education, and Welfare for the purpose of investigating,

processing, reviewing, and adjudicating violations of the provisions of

this section and complaints which may be filed concerning alleged

violations of this section. Except for the conduct of hearings, none of

the functions of the Secretary under this section shall be carried out in

any of the regional offices of such Department.

In [ ]:
import pandas as pd

name = ["Mayank","Harsh","Shashank"]
pd.Series(name)

0      Mayank
1       Harsh
2    Shashank
dtype: object

In [ ]:
numbers = [1,2,3,4,5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
import numpy as np
np.nan == None

False

In [ ]:
np.nan == np.nan

False

In [ ]:
np.isnan(np.nan)

True

In [1]:
import pandas as pd

scores = {"Mayank":"Maths",
          "Harsh":"Chemistry",
          "Shashank":"Physics"}

new = pd.Series(scores)
print(new)

Mayank          Maths
Harsh       Chemistry
Shashank      Physics
dtype: object

In [2]:
new.index

Index(['Mayank', 'Harsh', 'Shashank'], dtype='object')

In [3]:
scores = [("Mayank","Parashar"),("Harsh","Neel")]

pd.Series(scores)
scores

[('Mayank', 'Parashar'), ('Harsh', 'Neel')]

In [4]:
new = pd.Series(["mayank","harsh","shanki"],index=["math","phy","chem"])
new

math    mayank
phy      harsh
chem    shanki
dtype: object

In [6]:
import pandas as pd

scores = {"Mayank":"Maths",
          "Harsh":"Chemistry",
          "Shashank":"Physics"}

new = pd.Series(scores)
print(new.iloc[2])
print(new.loc['Harsh'])

Physics
Chemistry

In [8]:
import numpy as np
import pandas as pd
new = pd.Series(np.random.randint(0,1000,10000))
new.head()

0    637
1    375
2    261
3    965
4    907
dtype: int64

In [9]:
len(new)

10000

In [10]:
%%timeit -n 100
total = 0
for number in new:
  total += number

total/len(new)

100 loops, best of 3: 1.32 ms per loop

In [15]:
%%timeit -n 100
total = np.sum(new)
total/len(new)

100 loops, best of 3: 86.2 µs per loop

In [16]:
new.head()

0    637
1    375
2    261
3    965
4    907
dtype: int64

In [17]:
new+=2
new.head()

0    639
1    377
2    263
3    967
4    909
dtype: int64

In [24]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
  s.loc[label]=value+2

10 loops, best of 3: 624 ms per loop

In [25]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

10 loops, best of 3: 445 µs per loop

In [26]:
s = pd.Series([1,2,3])
s.loc["mayank"] = 100
s

0           1
1           2
2           3
mayank    100
dtype: int64

In [28]:
import pandas as pd
record1 = pd.Series({"Name":"Mayank",
                     "Class":"Maths",
                     "Grade":80})
record2 = pd.Series({"Name":"Harsh",
                     "Class":"Physics",
                     "Grade":85})
record3 = pd.Series({"Name":"Shanki",
                     "Class":"Chem",
                     "Grade":90})
df = pd.DataFrame([record1,record2,record3],index=[1,2,3])
df

     Name    Class  Grade
1  Mayank    Maths     80
2   Harsh  Physics     85
3  Shanki     Chem     90

In [30]:
students = [{"Name":"Mayank","Class":"Maths","Grade":80},{"Name":"Shanki","Class":"Chem","Grade":85},{"Name":"Pranav","Class":"Phy","Grade":95}]
df = pd.DataFrame(students,index=["School_1","School_2","School_3"])
df

            Name  Class  Grade
School_1  Mayank  Maths     80
School_2  Shanki   Chem     85
School_3  Pranav    Phy     95

In [31]:
df.loc['School_1']

Name     Mayank
Class     Maths
Grade        80
Name: School_1, dtype: object

In [33]:
type(df.loc["School_1"])

pandas.core.series.Series

In [34]:
df.loc['School_1','Name']

'Mayank'

In [35]:
df.T

      School_1 School_2 School_3
Name    Mayank   Shanki   Pranav
Class    Maths     Chem      Phy
Grade       80       85       95

In [37]:
df.T.loc['Name']

School_1    Mayank
School_2    Shanki
School_3    Pranav
Name: Name, dtype: object

In [39]:
df['Class']

School_1    Maths
School_2     Chem
School_3      Phy
Name: Class, dtype: object

In [41]:
df.loc['School_1']['Name']

'Mayank'

In [43]:
df.loc[:,['Name','Grade']]

            Name  Grade
School_1  Mayank     80
School_2  Shanki     85
School_3  Pranav     95

In [45]:
df.drop('School_1') #remove row and display copy of df

            Name Class  Grade
School_2  Shanki  Chem     85
School_3  Pranav   Phy     95

In [46]:
df

            Name  Class  Grade
School_1  Mayank  Maths     80
School_2  Shanki   Chem     85
School_3  Pranav    Phy     95

In [47]:
copy_df = df.copy()
copy_df.drop("Name",inplace=True,axis=1)
copy_df

          Class  Grade
School_1  Maths     80
School_2   Chem     85
School_3    Phy     95

In [48]:
del copy_df['Class']
copy_df

          Grade
School_1     80
School_2     85
School_3     95

In [49]:
df["Ranking"] = None
df

            Name  Class  Grade Ranking
School_1  Mayank  Maths     80    None
School_2  Shanki   Chem     85    None
School_3  Pranav    Phy     95    None